= semantic_form_for [@exercicio] do |form|
	= form.input :nome, :label => 'Nome' 
	= form.input :calorias_gastas, :label => 'Calorias gastas' 
	= form.input :numero_series, :label => 'Número de séries' 
	= form.input :tempo_descanso, :label => 'Tempo de descanso' 
	= form.input :exercicios_series, :label => 'Exercícios por série' 
	= form.submit 'Salvar'
