<%= form_for(@exercicio) do |f| %>
  <% if @exercicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercicio.errors.count, "error") %> prohibited this exercicio from being saved:</h2>

      <ul>
      <% @exercicio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :calorias_gastas %><br />
    <%= f.number_field :calorias_gastas %>
  </div>
  <div class="field">
    <%= f.label :numero_series %><br />
    <%= f.number_field :numero_series %>
  </div>
  <div class="field">
    <%= f.label :tempo_descanso %><br />
    <%= f.number_field :tempo_descanso %>
  </div>
  <div class="field">
    <%= f.label :exercicios_series %><br />
    <%= f.number_field :exercicios_series %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
