<h1>Listing exercicios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Calorias gastas</th>
    <th>Número de séries</th>
    <th>Tempo de descanso</th>
    <th>Exercícios por série</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercicios.each do |exercicio| %>
  <tr>
    <td><%= exercicio.nome %></td>
    <td><%= exercicio.calorias_gastas %></td>
    <td><%= exercicio.numero_series %></td>
    <td><%= exercicio.tempo_descanso %></td>
    <td><%= exercicio.exercicios_series %></td>
    <td><%= link_to 'Show', exercicio %></td>
    <td><%= link_to 'Edit', edit_exercicio_path(exercicio) %></td>
    <td><%= link_to 'Excluir', exercicio, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercicio', new_exercicio_path %>
