<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @exercicio.nome %>
</p>

<p>
  <b>Calorias gastas:</b>
  <%= @exercicio.calorias_gastas %>
</p>

<p>
  <b>Número de séries:</b>
  <%= @exercicio.numero_series %>
</p>

<p>
  <b>Tempo de descanso:</b>
  <%= @exercicio.tempo_descanso %>
</p>

<p>
  <b>Exercícios por série:</b>
  <%= @exercicio.exercicios_series %>
</p>


<%= link_to 'Edit', edit_exercicio_path(@exercicio) %> |
<%= link_to 'Back', exercicios_path %>
