= semantic_form_for [@historico] do |form|
	= form.input :refeicao, :member_label => :data, :label => 'Refeicao' 
	= form.input :treino, :member_label=> :data, :label=> 'Treino'
	= form.input :gordura_corporal, :label => 'Gordura corporal' 
	= form.input :valor_metabolico, :label => 'Valor metabolico' 
	= form.input :peso_gordura, :label => 'Peso gordura' 
	= form.input :peso_gordura_ideal, :label => 'Peso gordura ideal' 
	= form.input :massa_magra, :label => 'Massa magra' 
	= form.input :calorias_a_consumir, :label => 'Calorias a consumir' 
	= form.input :peso_perdido, :label => 'Peso perdido' 
	= form.input :peso_a_perder, :label => 'Peso a perder' 
	= form.input :peso_ideal, :label => 'Peso ideal' 
	= form.input :saldo_calorias, :label => 'Saldo calorias' 
	= form.input :situacao, :label => 'Situacao' 
	= form.submit 'Salvar'
