<h1>Listing tipo_refeicaos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_refeicaos.each do |tipo_refeicao| %>
  <tr>
    <td><%= tipo_refeicao.nome %></td>
    <td><%= tipo_refeicao.descricao %></td>
    <td><%= link_to 'Show', tipo_refeicao %></td>
    <td><%= link_to 'Edit', edit_tipo_refeicao_path(tipo_refeicao) %></td>
    <td><%= link_to 'Excluir', tipo_refeicao, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo refeicao', new_tipo_refeicao_path %>
