= semantic_form_for [@usuario] do |form|
	= form.input :nome, :label => 'Nome' 
	= form.input :altura, :label => 'Altura'
	= form.input :sexo, :label => 'Sexo'
	= form.input :idade, :label => 'Idade'
	= form.input :peso_inicial, :label => 'Peso inicial'
	= form.submit 'Salvar'
