= semantic_form_for [@alimento] do |form|
	= form.input :nome, :label => 'Nome' 
	= form.input :categoria, :label => 'Categoria' 
	= form.input :quantidade, :label => 'Quantidade' 
	= form.input :unidade_medida, :label => 'Unidade de Medida' 
	= form.input :calorias, :label => 'Calorias' 
	= form.input :proteinas, :label => 'Proteinas' 
	= form.input :carboidratos, :label => 'Carboidratos' 
	= form.input :gorduras, :label => 'Gorduras' 
	= form.submit 'Salvar'
