<h1>Listing alimentos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Categoria</th>
    <th>Quantidade</th>
    <th>Unidade de Medida</th>
    <th>Calorias</th>
    <th>Proteinas</th>
    <th>Carboidratos</th>
    <th>Gorduras</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alimentos.each do |alimento| %>
  <tr>
    <td><%= alimento.nome %></td>
    <td><%= alimento.categoria %></td>
    <td><%= alimento.quantidade %></td>
    <td><%= alimento.unidade_medida %></td>
    <td><%= alimento.calorias %></td>
    <td><%= alimento.proteinas %></td>
    <td><%= alimento.carboidratos %></td>
    <td><%= alimento.gorduras %></td>
    <td><%= link_to 'Show', alimento %></td>
    <td><%= link_to 'Edit', edit_alimento_path(alimento) %></td>
    <td><%= link_to 'Excluir', alimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alimento', new_alimento_path %>
